@charset "UTF-8";
:root {
  --font-primary: "Montserrat", sans-serif;
  --font-primary-size: 16px;
  --font-secondary: "Raleway", sans-serif;
  --color-accent-yellow: #f3c653;
  --color-accent-yellow-transparent: rgba(243, 198, 83, 70);
  --color-primary-white: #ffffff;
  --color-primary-black: #000000;
  --color-gray-primary: #e5e5e5;
  --color-gradient1: rgba(0, 0, 0, 66%);
  --transition-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

label,
input {
  display: block;
}

.container {
  margin: 0 auto;
  padding: 0 85px;
}
@media screen and (max-width: 414px) {
  .container {
    max-width: 100vw;
  }
}
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-500.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin_cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-700.svg#Montserrat") format("svg"); /* Legacy iOS */
}
body {
  background-color: var(--color-primary-white);
  color: var(--color-text-primary);
  font-family: var(--font-primary);
  letter-spacing: 0.03em;
  font-size: var(--font-primary-size);
  line-height: 1.19;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon {
  outline: 1px solid red;
  display: block;
  color: var(--color-accent-yellow);
  fill: currentColor;
}
.icon--white {
  background-color: rgba(46, 79, 46, 0.361);
}

.test {
  width: 114px;
  height: 39px;
  background-color: rgba(46, 54, 141, 0.361);
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.row-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 16px 26px;
  border-radius: 25px;
  border: 2px solid var(--color-primary-white);
  color: var(--color-accent-yellow);
  background-color: transparent;
}
.button--shifted {
  margin-left: 60px;
}

.logo {
  color: var(--color-primary-white);
}
.logo--nav {
  outline: 1px dotted blueviolet;
  background-color: rgb(81, 81, 122);
  margin-right: 96px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1280px) {
  .section {
    padding: 94px 0;
  }
}
.section__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
  color: var(--color-text-title);
  margin-bottom: 30px;
}
@media screen and (min-width: 1280px) {
  .section__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
.section--grey {
  background: var(--color-background-lighter);
}

.social {
  color: var(--color-primary-white);
}
.social__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-primary-white);
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .social__title {
    text-align: left;
  }
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.social-icons__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: var(--color-background-grey);
  text-decoration: none;
  outline: none;
  -webkit-transition: color var(--transition-cubic), background-color var(--transition-cubic);
  transition: color var(--transition-cubic), background-color var(--transition-cubic);
}
.social-icons__link--white {
  color: var(--color-primary-white);
  background-color: rgba(255, 255, 255, 0.1);
}
.social-icons__link:hover, .social-icons__link:focus {
  color: var(--color-primary-white);
  background-color: var(--color-accent);
}

.header {
  position: absolute;
  top: 24px;
  width: 100%;
  z-index: 1;
}
.header--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 72px;
}
.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  border-radius: 2px;
  border: 1px solid var(--color-accent-yellow-transparent);
}
.nav__link {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-right: 32px;
  color: var(--color-accent-yellow);
}
.nav__phone {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: var(--color-primary-white);
}
.nav__phone:nth-child(odd) {
  margin-left: 16px;
}
.nav--icon {
  color: var(--color-accent-yellow);
  margin-right: 8px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  color: var(--color-accent-yellow);
}

.hero-canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
  height: 720px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-gradient1)), to(var(--color-gradient1))), url("../images/hotel-hero-desktop@1x.jpg");
  background-image: linear-gradient(to bottom, var(--color-gradient1), var(--color-gradient1)), url("../images/hotel-hero-desktop@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  position: relative;
  padding-top: 164px;
}
.hero__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero--logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  color: var(--color-primary-white);
}
.hero__title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-primary-white);
  margin-bottom: 242px;
}
.hero__address-wrap {
  /* справа вирівняно якось не так */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  display: flex;
  padding: 8px 8px 8px 10px;
  margin-right: auto;
  border: 1px solid var(--color-accent-yellow-transparent);
  border-radius: 2px;
  color: var(--color-gray-primary);
}
.hero__address-details {
  max-width: 233px;
}/*# sourceMappingURL=main.css.map */